.yomichan-popup {
	position: absolute;
	z-index: 999999999;
	border-color: #808080;
	border-radius: 5px;
	padding: 5px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
}

.yomichan-popup>.yomichan-popup-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 5px;
	margin-bottom: 5px;
	min-height: 20px;
}

.yomichan-popup>.yomichan-content {
	padding: 0px;
	text-align: left;
	word-break: break-all;
	flex: 1;
	width: 100%;
	overflow: hidden;
	box-sizing: content-box;
	line-height: 35px;
}

.yomichan-popup>.yomichan-content>ruby {
	padding: 0px;
	border: 0px;
	font-weight: bold;
}

.yomichan-popup>.yomichan-content>ruby>rt {
	white-space: nowrap;
}

.yomichan-popup-header>.yomichan-setting-button {
	cursor: pointer;
	width: 20px;
	min-width: 20px;
	max-width: 20px;
	height: 20px;
	background-image:
		url("chrome-extension://__MSG_@@extension_id__/img/settingButton.png");
	background-repeat: repeat;
	background-color: transparent;
	background-size: 100% 100%;
	border: 0;
	outline: none;
	box-sizing: border-box;
	box-shadow: none;
	padding: 5px;
	flex-shrink: 0;
}

.yomichan-popup-header>.yomichan-furigana-toggle-button {
	cursor: pointer;
	min-width: 24px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid #666;
	background-color: transparent;
	color: #666;
	font-size: 12px;
	line-height: 18px;
	padding: 0 4px;
	box-sizing: border-box;
	flex-shrink: 0;
}

.yomichan-popup-header>.yomichan-furigana-toggle-button.yomichan-furigana-off {
	opacity: 0.5;
}

.yomichan-popup-header>.yomichan-close-button {
	cursor: pointer;
	padding: 0;
	line-height: 0px;
	font-size: 30px;
	text-align: center;
	color: #666;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s;
}

.yomichan-popup-header>.yomichan-close-button:hover {
	background-color: rgba(0, 0, 0, 0.2);
	color: #333;
}

.yomichan-popup>.yomichan-popup-toggle-button {
	position: absolute;
	cursor: pointer;
	width: 20px;
	min-width: 20px;
	max-width: 20px;
	height: 20px;
	background-image:
		url("chrome-extension://__MSG_@@extension_id__/img/shrinkButton.png");
	background-repeat: repeat;
	background-color: transparent;
	background-size: 100% 100%;
	border: 0;
	outline: none;
	box-sizing: border-box;
	box-shadow: none;
	padding: 5px;
}

.yomichan-popup-top>.yomichan-popup-toggle-button {
	right: -20px;
	bottom: 0px;
}

.yomichan-popup-bottom>.yomichan-popup-toggle-button {
	right: -20px;
	top: 0px;
}

.yomichan-popup-hidden {
	padding: 0px;
}

.yomichan-popup-hidden>.yomichan-popup-toggle-button {
	background-image:
		url("chrome-extension://__MSG_@@extension_id__/img/icon.png");
}

.yomichan-popup-transition {
	transition: all 0.3s linear;
}

.yomichan-popup-transition>.yomichan-popup-toggle-button {
	transition: all 0.3s linear;
}

.yomichan-popup>.yomichan-setting-popup {
	z-index: 999999999;
	background-color: #DEF0CE;
	border-color: #808080;
	width: 120px;
	border-radius: 5px;
	padding: 5px;
	box-sizing: content-box;
}

.yomichan-popup-top>.yomichan-setting-popup {
	position: absolute;
	left: 100%;
	top: 0;
}

.yomichan-popup-bottom>.yomichan-setting-popup {
	position: absolute;
	left: 100%;
	top: 0;
}

.yomichan-setting-popup>div {
	margin-bottom: 2px;
}

.yomichan-setting-popup>div>span {
	display: inline-block;
	text-align: left;
	width: 120px;
	font-size: 12px;
}

.yomichan-setting-popup>div>.popup-setting {
	width: 120px;
}